/* =========================== FONT'S START ============================== */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Gilroy.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
}
/* Gilroy Bold */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
}
/* =========================== FONT'S END ============================== */

/* =========================== CSS RESET START ============================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}
/* =========================== CSS RESET END ============================== */

/* =========================== COMMON START ============================== */
html {
  scroll-behavior: smooth;
}

body {
  color: var(--black);
  font-family: "Gilroy", var(--system-fonts), sans-serif;
  background-color: var(--white);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--system-color);
  box-shadow: 0 -4px 0 0 var(--system-color), 0 4px 0 0 var(--system-color);
  border-radius: 999px;
}

a,
span,
::before,
::after {
  display: inline-flex;
  color: inherit;
  text-decoration: none;
}

:root {
  --hue: 0;
  --system-color: hsl(calc(var(--hue) + 253), 100%, 58%);
  --black: hsl(var(--hue), 0%, 6%);
  --white: hsl(var(--hue), 0%, 100%);
  --opacity-white: hsla(var(--hue), 0%, 100%, 0.3);
  --lightness-gray: hsl(var(--hue), 0%, 95%);
  --middle-darkness-gray: hsl(calc(var(--hue) + 223), 9%, 61%);
  --brithnes-gray: hsl(var(--hue), 0%, 97%);
  --system-fonts: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --scrollbar-track-color: hsl(var(--hue), 0%, 87%);
  --shadow: hsla(var(--hue), 0%, 20%, 0.3);
  --bg-lightnes-gray: hsla(var(--hue), 0%, 76%, 0.1);
}

:focus {
  outline: 1px solid var(--system-color);
}

.container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}
h1 {
  margin-bottom: 24px;
}

h1,
h2.title,
.subtitle {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.23;
  color: var(--black);
}

.subtitle {
  font-size: 24px;
}

.text {
  line-height: 1.5;
  color: var(--middle-darkness-gray);
}

.footer-text {
  color: var(--opacity-white);
  line-height: 1.2;
  font-size: 32px;
}

.btn {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: var(--system-color);
  font-size: 24px;
  line-height: 1.2;
  border: 2px solid transparent;
  border-radius: 3px 7px 7px 3px;
  color: var(--white);
  padding: 20px 38px;
  transition: 0.25s;
}

.btn:hover {
  border: 2px solid var(--system-color);
  color: var(--system-color);
  background-color: var(--brithnes-gray);
}

.input-email {
  min-width: 338px;
  padding: 24px 32px;
  background-color: var(--brithnes-gray);
  font-size: 20px;
  line-height: 1.2;
  border: 1px solid transparent;
  color: var(--black);
  font-family: "Gilroy";
}

.lined-title{
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--middle-darkness-gray);
}

.lined-title::before, .lined-title::after{
  content: '';
  border-top: 1px solid currentColor;
  flex-grow: 1;
}

.lined-title::after{
  flex-grow: 5;
}

.lined-title>span{
  margin: 0 20px;
}
/* =========================== COMMON END ============================== */

/* =========================== HEADER START ============================== */
.header{
  padding-top: 50px;
  padding-bottom: 80px;
}

.navbar,
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav > :nth-child(n + 2) {
  margin-left: 15px;
}

.nav > li > a {
  position: relative;
  padding: 50px 20px 15px 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.nav > li > a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: var(--system-color);
  transition: 0.35s;
  z-index: -1;
}

.nav > li > a:hover::before {
  height: 100%;
}

.nav > li > a:hover {
  color: var(--white);
}
/* =========================== HEADER END ============================== */

/* =========================== HERO START ============================== */
.hero,
.hero-inf {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-text {
  width: 800px;
}

.email-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 65px;
}

.hero img {
  width: 830px;
  height: 430px;
  object-fit: cover;
}
/* =========================== HERO END ============================== */

/* =========================== BRANDS START ============================== */
.brands {
  padding: 175px 0;
}

.brands-box-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brands-box-wrap > img {
  width: auto;
  height: 40px;
  object-fit: cover;
}
/* =========================== BRANDS END ============================== */

/* =========================== SERVICES START ============================== */
.services{
  padding: 100px 0;
  background-color: var(--bg-lightnes-gray);
}

.services-boxes-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-box{
  width: 390px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services-box:nth-child(1){
  margin-bottom: 80px;
}

.services-box img{
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.services-box-inf{
  width: 290px;
}

h2.services-title {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 16px;
}
/* =========================== SERVICES END ============================== */

/* =========================== EXPERTISE START ============================== */
.expertise {
  padding-bottom: 123px;
  position: relative;
}

.expertise,
.expertise-cards-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 120px;
}

.expertise-card {
  min-width: 370px;
}

.expertise-card > img {
  width: auto;
  height: auto;
  object-fit: cover;
}

.expertise-subtitle {
  padding-top: 32px;
  padding-bottom: 12px;
}
/* =========================== EXPERTISE END ============================== */

/* =========================== COMUNICATION START ============================== */
.comunication {
  background-color: var(--bg-lightnes-gray);
  padding-top: 128px;
  padding-bottom: 65px;
}
.comunication,
.comunication-inf {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.comunication-inf > :nth-child(n + 2) {
  width: 770px;
  margin: 24px 0;
}

.comunication img {
  width: 570px;
  height: 320px;
  object-fit: cover;
}

.comunication-inf::after {
  content: "";
  position: absolute;
  bottom: -34px;
  left: 190px;
  width: 143px;
  height: 36px;
  background: url("../img/stack.webp");
}

.comunication-inf::before {
  content: "";
  position: absolute;
  bottom: -34px;
  right: 190px;
  width: 143px;
  height: 36px;
  background: url("../img/trello.webp");
}
/* =========================== COMUNICATION END ============================== */

/* =========================== TOGETHER START ============================== */
.together {
  text-align: center;
  padding-top: 195px;
  padding-bottom: 130px;
}

.together-inf > :nth-child(n + 2) {
  margin-top: 24px;
}

.together img {
  height: 570px;
  width: 780px;
  object-fit: cover;
}
/* =========================== TOGETHER END ============================== */

/* =========================== FOOTER START ============================== */
.footer {
  background-color: var(--system-color);
  padding: 35px 0;
  position: relative;
}

.footer-street-link {
  color: var(--white);
}

.footer-street-link:hover {
  text-decoration: underline;
}

.footer > .container,
.socials-box-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials-box-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.socials-box-wrapper > :nth-child(n + 2) {
  margin-left: 26px;
}

.socials-box-wrapper a {
  transition: 0.25s;
}

.socials-box-wrapper > :hover {
  transform: scale(1.2);
}
/* =========================== FOOTER END ============================== */

/* =========================== TO TOP LINK START ============================== */
.to-top-link {
  content: "";
  position: absolute;
  top: -10px;
  right: 100px;
  background-color: var(--white);
  color: var(--system-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  width: 40px;
  height: 40px;
  box-shadow: 0 -5px 20px 0 var(--shadow);
  transition: .25s;
}

.to-top-link:hover{
  transform: translateY(-7px);
}
/* =========================== TO TOP LINK END ============================== */
