/* =========================== FONT'S START ============================== */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Gilroy.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
}
/* Gilroy Bold */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
}
/* =========================== FONT'S END ============================== */

/* =========================== CSS RESET START ============================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}
/* =========================== CSS RESET END ============================== */

/* =========================== COMMON START ============================== */
body {
  color: var(--black);
  font-family: "Gilroy", var(--system-fonts), sans-serif;
  background-color: var(--white);
}

a,
span,
::before,
::after {
  display: inline-flex;
  color: inherit;
  text-decoration: none;
}

:root {
  --hue: 0;
  --system-color: hsl(calc(var(--hue) + 253), 100%, 58%);
  --black: hsl(var(--hue), 0%, 6%);
  --white: hsl(var(--hue), 0%, 100%);
  --opacity-white: hsla(var(--hue), 0%, 100%, 0.3);
  --lightness-gray: hsl(var(--hue), 0%, 95%);
  --middle-darkness-gray: hsl(calc(var(--hue) + 223), 9%, 61%);
  --brithnes-gray: hsl(var(--hue), 0%, 97%);
  --system-fonts: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:focus {
  outline: 2px solid var(--system-color);
}

.container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}
h1 {
  margin-bottom: 24px;
}

h1,
h2.title,
.subtitle {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.23;
  text-align: center;
  color: var(--black);
}

.subtitle {
  font-size: 24px;
}

.text {
  line-height: 1.5;
  color: var(--middle-darkness-gray);
}

.footer-text {
  color: var(--opacity-white);
  line-height: 1.2;
  font-size: 32px;
}

.btn {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: var(--system-color);
  font-size: 24px;
  line-height: 1.2;
  border: 2px solid transparent;
  border-radius: 3px 7px 7px 3px;
  color: var(--white);
  padding: 20px 38px;
  transition: 0.25s;
}

.btn:hover {
  border: 2px solid var(--system-color);
  color: var(--system-color);
  background-color: var(--brithnes-gray);
}

.input-email {
  min-width: 338px;
  padding: 24px 32px;
  background-color: var(--brithnes-gray);
  font-size: 20px;
  line-height: 1.2;
  border: 1px solid transparent;
  color: var(--black);
  font-family: "Gilroy";
}
/* =========================== COMMON END ============================== */

/* =========================== HEADER START ============================== */
.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 52px;
  padding-bottom: 80px;
}

.header-mail-link:hover {
  text-decoration: underline;
}
/* =========================== HEADER END ============================== */

/* =========================== HERO START ============================== */
.hero,
.hero-inf {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-text {
  width: 800px;
}

.email-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 65px;
}
/* =========================== HERO END ============================== */

/* =========================== BRANDS START ============================== */
.beands {
  padding: 175px 0;
}

.img-box-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* =========================== BRANDS END ============================== */

/* =========================== EXPERTISE START ============================== */
.expertise {
  padding-bottom: 123px;
}

.expertise-cards-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 120px;
}

.expertise-card {
  min-width: 370px;
}

.expertise-subtitle {
  padding-top: 32px;
  padding-bottom: 12px;
}
/* =========================== EXPERTISE END ============================== */

/* =========================== COMUNICATION START ============================== */
.comunication {
  background-color: var(--lightness-gray);
  padding: 128px 0;
}
.comunication,
.comunication-inf {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.comunication-inf > :nth-child(n + 2) {
  width: 770px;
  margin: 24px 0;
}

.comunication-inf::after {
  content: "";
  position: absolute;
  bottom: -34px;
  left: 190px;
  width: 143px;
  height: 36px;
  background: url("../img/stack.webp");
}

.comunication-inf::before {
  content: "";
  position: absolute;
  bottom: -34px;
  right: 190px;
  width: 143px;
  height: 36px;
  background: url("../img/trello.webp");
}
/* =========================== COMUNICATION END ============================== */